.highlight-inline {
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: color 0.75s, background-color 0.75s;
  }

.highlight-inline:hover {
    color: rgb(0, 0, 0); /* Set text color to black on hover */
    background-color: white; /* Set background color to white on hover */
  }
  
.icon {
  width: 31px;
  height: 31px;
  transition: filter 1.25s ease;
  text-align: center;
}

.icon:hover {
  filter: opacity(0%); /* Purple color on hover */
}