.icon {
  width: 31px;
  height: 31px;
  transition: filter 1.25s ease;
  text-align: center;
}

.top-right-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  cursor: pointer;
  }

.noselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center
}

.caption {
  text-align: center;
  font-style: italic; 
  color: lightgrey;
  font-size: 80%
}

.icon:hover {
  filter: opacity(0%);
}

.p {
  position: relative;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}


.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    position: relative;
    min-height: 100vh;
}
.highlight-inline {
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: color 1s, background-color 1s;
  }
.highlight-inline.dark-mode {
    color: black;
    background-color: white;
}
.main {
    flex-grow: 1
}
.highlight-inline:hover {
    color: black; /* Set text color to black on hover */
    background-color: white; /* Set background color to white on hover */
  }
.highlight-inline.dark-mode:hover {
    color: white;
    background-color: black;
}
.highlight-inline a {
    color: white;
}
.hidden {
    text-align: center; color: white; font-size: 10px; margin-bottom: 25vh;
}
.hidden.dark-mode {
    color:black;
    transition: filter 1.25s ease;
}

.icon.dark-mode {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
