:root {
    --head: "Inconsolata", monospace; /* header font */
    --text: "Input Serif", sans-serif;
    --primary-color: rgb(52, 152, 219); /* Vibrant Blue */
    --background-color: #f5f5f5;
    --text-color: #212121;
    --light-grey: #ddd;
    --dark-grey: #777;
  }
  
  body, html {
    margin: 8vh 10vw 0;
    padding: 0;
    height: 100%;
    height: auto; 
    width: auto;
    box-sizing: border-box;
    font-size: 1.05em;
    display: flex;
    font-family: var(--text);
  }
  
  body {
    /* margin: 0 15vw 5vh 15vw; */
    flex-direction: column;
    cursor: default;
    transition: opacity 1s;
  }

  body {
    font-family: var(--text);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  
  
  h1, h2 {
    font-family: var(--head);
    color: var(--primary-color);
    margin-bottom: 0.5em;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.8em;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
h4 {
  font-style: italic;
  color: var(--dark-grey);
  font-size: 0.85rem;
  margin-bottom: 0;
}

  li {
    margin-bottom: 0.5em;
  }
  
  /* a {
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding: 0.75em 1em;
    background-color: var(--light-grey);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  } */

  a {
    color: var(--primary-color);
    transition: background-color 0.2s
  }


  a:hover:not(.subpage-link) {
    background-color: #e0e0e0;
  }
  
  /* does not use imported switchfonts set */
  /* button:not(#switch-fonts) {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.6em 1em;
    margin: auto 1vw auto 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--text);
    transition: background-color 0.3s ease;
  }
  
  button:not(#switch-fonts):hover {
    background-color: #2980b9;
  } */
  
  a.dl {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.6em 1em;
    margin: auto 1vw auto 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--text);
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
  }
  
  a.dl:hover {
    background-color: #2980b9;
  }
  

  p {
    color: var(--dark-grey);
    font-size: 1em;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .container {
      padding: 15px;
      margin: 10px auto;
    }
  
    h1 {
      font-size: 2em;
    }
  
    a {
      padding: 0.5em 0.75em;
    }
  }


  .code-inline {
    padding: .2em .4em;
    font-family: "Courier New";
    font-weight: bold;
    cursor: default;
    margin: 0;
    font-size: 90%;
    border-radius: 6px;
    background-color: #e0e6eb;
    transition: background-color 0.3s ease;
  }
  
  .code-inline:hover {
    background-color: #ccd4dc;
  }