:root {
    --heading-color: #540202;
}

body {
    margin: 12vh 18vw;
    font-family: var(--text);
    font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
    body {
        margin: 12vh 5vw;
    }
}

h1, h2, h3, h4, h5 {
    color: var(--heading-color);
    font-family: var(--head);
}

h1 {
    color: hsl(from var(--heading-color) h s 40);
}

h2 {
    font-size: 1.75em;
    color: hsl(from var(--heading-color) h s 32);
}


h3 {
    font-size: 1.4em;
    color: hsl(from var(--heading-color) h s 25);
}

h4 {
    font-size: 1.15em;
}

.sub {
    color: grey; 
    font-style: italic; 
    margin: -0.5em 0; 
    font-size: 0.8em;
}

hr {
    margin: 1.25rem;
}

pre code {
    max-width: 100%;
}

a {
    color: hsl(from var(--heading-color) h s 35);
}

.top-level > li {
    margin-bottom: 0.75em;
}

strong {
    transition: color ease-out 0.3s;
}

strong:hover {
  color: #cc5052;
}

blockquote {
    border-left: 4px solid #ccc; 
    margin: 0.25rem 0; 
    padding: 0.1rem 1em; 
    color: #555; 
    font-style: italic; 
    background-color: #f9f9f9; 
}

mjx-container, mjx-math {
  font-size: 100% !important;
}

.subheading {
  color: grey; 
  font-style: italic; 
  margin-top: 0; 
  margin-bottom: 0;
}